.header-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.15);
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #fff;
}
.header-dashboard .logo {
  height: 100%;
}
.header-dashboard .logo img {
  height: 100%;
}
.header-dashboard .admin-user img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 3px solid #23b55c;
}

.admin-navigation {
  width: 250px;
  float: left;
  height: 100vh;
  border-right: 1px solid var(--divider);
  position: fixed;
  left: 0;
  top: 70px;
  padding-right: 4px;
  padding-bottom: 15rem;
  overflow-y: scroll;
  z-index: 999;
}
.admin-navigation:-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}
.admin-navigation::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
.admin-navigation::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #23b55c;
}

.admin-user {
  cursor: pointer;
  user-select: none;
}

.nav-list .root-nav-item .nav-item-title {
  margin: 10px;
  margin-bottom: 0;
  font-size: 14px;
  color: #666;
}
.nav-list .root-nav-item .item-group .nav-item {
  position: relative;
  border-radius: 8px;
  margin-top: 5px;
}
.nav-list .root-nav-item .item-group .nav-item:hover {
  background-color: #edeeef;
}
.nav-list .root-nav-item .item-group a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 10px;
  padding-left: 20px;
}
.nav-list .root-nav-item .item-group a i {
  display: flex;
  font-size: 20px;
}

.nav-item.active {
  background-color: #edeeef;
}
.nav-item.active::before {
  content: "";
  width: 3.5px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 0 4px 4px 0;
  background-color: #23b55c;
}

.main-content {
  margin-left: 250px;
  margin-top: 70px;
  overflow: hidden;
}
.main-content-inner {
  padding: 30px 10%;
}
.main-content .report-sales {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.main-content .report-sales .sales-product,
.main-content .report-sales .orders-total {
  padding: 20px;
  width: 65%;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
}
.main-content .report-sales .orders-total {
  width: 35%;
}
.main-content .report-dashboard {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.main-content .report-dashboard .report-sales-daily,
.main-content .report-dashboard .report-profit,
.main-content .report-dashboard .report-order-month {
  width: 33.333333%;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  padding: 10px;
}
.main-content .report-dashboard .report-title {
  font-size: 22px;
  font-weight: 500;
}

.add-product-wrapper .frm-add-product {
  display: flex;
  gap: 10px;
}
.add-product-wrapper .frm-add-product label {
  padding: 5px 0;
  display: block;
}
.add-product-wrapper .frm-add-product input {
  padding: 0.5rem 1.2rem;
  display: block;
  flex: 1 1;
  display: block;
  width: 100%;
  position: relative;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 1px;
  border-radius: 4px;
  outline: none;
}
.add-product-wrapper .frm-product-left,
.add-product-wrapper .frm-product-right {
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
}
.add-product-wrapper .frm-group-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.add-product-wrapper .frm-product-left {
  width: 70%;
}
.add-product-wrapper .frm-product-right {
  width: 30%;
}
.add-product-wrapper .imageUpload {
  margin: 10px;
}
.add-product-wrapper .imageUpload-inner {
  height: 300px;
  border: 3px dashed #666;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px 0;
  position: relative;
  overflow: hidden;
}
.add-product-wrapper .imageUpload-inner i {
  font-size: 25px;
  color: #555;
}
.add-product-wrapper .btn-upload {
  display: inline-block;
  position: relative;
  border: 1px solid #babfc3;
  border-radius: 3px;
  padding: 5px 10px;
  font-weight: 600;
  color: inherit;
  background-color: #fff;
  border-top-color: #c9cccf;
  border-bottom-color: #babfc4;
}
.add-product-wrapper #file {
  display: none;
}
.add-product-wrapper .pic-uploaded {
  position: absolute;
  cursor: pointer;
}
.add-product-wrapper .pic-uploaded img {
  max-width: 100%;
  max-height: 100%;
}

.product-image,
.category-image {
  width: 100px;
}
.product-image img,
.category-image img {
  width: 100%;
  height: auto;
}

.products {
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  overflow-x: scroll;
}
.products:-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}
.products::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
.products::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #23b55c;
}
.products td {
  vertical-align: baseline;
}
.products td .btn-danger i {
  color: #fff;
  font-size: 20px;
  display: flex;
}

.product-td {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.product-td a {
  transition: 0.3s;
}
.product-td a:hover {
  color: #23b55c;
}

.menu-bar {
  display: none;
}

.table .modal-dialog {
  background-color: transparent;
}

.modal {
  transform: scale(0);
  transform-origin: center;
  transition: 0.5s;
}

.modal.show {
  transform: scale(1);
}

@media (max-width: 992px) {
  .admin-user span {
    display: none;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .admin-navigation {
    background-color: #fff;
    transform: translateX(-100%);
    transition: 0.3s;
  }
  .admin-navigation.show {
    transform: translateX(0);
  }
  .menu-bar {
    display: inline-block;
  }
  .main-content {
    margin: 0;
    margin-top: 90px;
  }
  .main-content-inner {
    padding: 0 20px;
  }
  .main-content .report-sales {
    flex-direction: column;
  }
  .main-content .sales-product,
  .main-content .orders-total {
    width: 100% !important;
  }
  .report-dashboard {
    flex-direction: column;
  }
  .report-dashboard .report-sales-daily,
  .report-dashboard .report-profit,
  .report-dashboard .report-order-month {
    width: 100% !important;
  }
  .report-dashboard .report-profit {
    margin-bottom: 100px;
  }
  .report-dashboard .report-title {
    font-size: 22px;
    font-weight: 500;
  }
  .add-product-wrapper .frm-add-product {
    flex-direction: column;
  }
  .add-product-wrapper .frm-product-left,
  .add-product-wrapper .frm-product-right {
    width: 100% !important;
  }
  .add-product-wrapper .frm-group-flex {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  .logo {
    display: flex;
    align-items: center;
  }
  .admin-navigation {
    background-color: #fff;
    transform: translateX(-100%);
    transition: 0.3s;
  }
  .admin-navigation.show {
    transform: translateX(0);
  }
  .menu-bar {
    display: inline-block;
  }
  .main-content {
    margin: 0;
    margin-top: 90px;
  }
  .main-content-inner {
    padding: 0 20px;
  }
  .main-content .report-sales {
    flex-direction: column;
  }
  .main-content .sales-product,
  .main-content .orders-total {
    width: 100% !important;
  }
  .report-dashboard {
    flex-direction: column;
  }
  .report-dashboard .report-sales-daily,
  .report-dashboard .report-profit,
  .report-dashboard .report-order-month {
    width: 100% !important;
  }
  .report-dashboard .report-profit {
    margin-bottom: 100px;
  }
  .report-dashboard .report-title {
    font-size: 22px;
    font-weight: 500;
  }
  .add-product-wrapper .frm-add-product {
    flex-direction: column;
  }
  .add-product-wrapper .frm-product-left,
  .add-product-wrapper .frm-product-right {
    width: 100% !important;
  }
  .add-product-wrapper .frm-group-flex {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=dashboard.css.map */
