.shop-sidebar-inner {
  border: 1px solid #f6f6f6;
  border-radius: 8px;
  overflow: hidden;
  padding: 21px 22px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.shop-sidebar-inner .sidebar-inner-title h3 {
  position: relative;
  font-size: 23px;
}
.shop-sidebar-inner .checkbox-list-brand li,
.shop-sidebar-inner .checkbox-list-category li,
.shop-sidebar-inner .checkbox-list-price li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}
.shop-sidebar-inner .checkbox-list-brand input[type=checkbox],
.shop-sidebar-inner .checkbox-list-category input[type=checkbox],
.shop-sidebar-inner .checkbox-list-price input[type=checkbox] {
  cursor: pointer;
  color: #ffffff;
  accent-color: #23b55c;
  width: 20px;
  height: 20px;
}
.shop-sidebar-inner .checkbox-list-brand label,
.shop-sidebar-inner .checkbox-list-category label,
.shop-sidebar-inner .checkbox-list-price label {
  font-size: 16px;
  cursor: pointer;
}

.product-list-store {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.product-item {
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  transition: 0.3s;
  overflow: hidden;
}
.product-item:hover {
  border-color: #23b55c;
}
.product-item:hover .product-caption .price-box {
  transform: translateY(30px);
  opacity: 0;
}
.product-item:hover .product-caption .btn-cart {
  opacity: 1;
}
.product-item .product-thumb {
  position: relative;
}
.product-item .product-caption {
  position: relative;
  padding: 22px 15px 26px;
}
.product-item .product-caption .manufacture-product a {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.product-item .product-caption .product-name a {
  white-space: initial;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.product-item .product-caption .product-name h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 5px 0;
  padding-bottom: 0;
  transition: 0.3s;
}
.product-item .product-caption .product-name h4:hover {
  color: #23b55c;
}
.product-item .product-caption .price-box {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.product-item .product-caption .price-box .old-price {
  color: #666;
  text-decoration: line-through;
  font-size: 15px;
}
.product-item .product-caption .price-box .regular-price {
  font-weight: 600;
}
.product-item .product-caption .btn-cart {
  background: #23b55c;
  border: medium none;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  line-height: 36px;
  margin-top: 10px;
  padding: 0 25px;
  text-transform: capitalize;
  transition: 0.3s;
  opacity: 0;
  position: absolute;
  bottom: 10px;
}
.product-item .product-caption .btn-cart:hover {
  background: #000000;
}

.sale {
  color: #fe4f19;
}

@media (max-width: 992px) {
  .product-list-store {
    grid-template-columns: 1fr 1fr;
    gap: 10px !important;
  }
  .product-item .product-caption .btn-cart {
    padding: 0 20px !important;
  }
}
@media (max-width: 576px) {
  .product-list-store {
    grid-template-columns: 1fr 1fr;
    gap: 10px !important;
  }
  .product-item .product-caption .btn-cart {
    padding: 0 20px !important;
  }
}

/*# sourceMappingURL=store.css.map */
