@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables';
@import './component/header';
@import './component/footer';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000000;
  &:hover {
    color: #000000;
  }
}
img {
  width: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  overflow-x: hidden;
  &:-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $primary-color;
  }
}

.back-to-top{
  padding: 10px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  i{
    display: flex;
    color: #ffffff;
    transition: .3s;
  }
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 100%;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: .5s;
  &:hover{
    background-color: $secondary-color;
    i{
      transform: translateY(-2px);
    }
  }
}

.back-to-top.active{
  opacity: 1;
  visibility: visible;
}