*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

.iconnav i{
    color: #fff;
    font-size: 20px;
    display: none;
}

.topnav{
    background-color: #000;
    position: relative;
}
.topnav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav a{
    display: block;
    padding: 10px 20px;
    color: #fff;
}

.topnav a:hover{
    background-color: aqua;
}

@media (max-width: 600px) {
    .topnav ul{
        flex-direction: column;
        justify-content: flex-start;
    }
    .topnav li{
        width: 100%;
        text-align: left;
    }
    .iconnav{
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        padding: 10px;
    }
    .iconnav i {
        display: block;
    }
}